<% if @unpaid_subscriptions.present? %>
  <div class="show-and-hide-container">
    <div class="btn-subs btn-show-panel">+ Оплата абонемента</div>

    <%= form_with(url: company_fin_operations_path(params[:company_id]), model: @fin_operation, local: true, html: {class: 'block-information show-and-hide-panel'}) do |form| %>
      <%= form.hidden_field :operation_type, value: :payment_subscription %>

      <div class="finput">
        <%= form.label 'Неоплаченные абонементы*', class: 'finput-label' %>
        <%= form.select :operation_object_id, @unpaid_subscriptions.map{|a| [info_sub(a.id), a.id]}, {}, {class: "finput-input"} %>
      </div>
      <div class="finput">
        <%= form.label 'Сумма оплаты*', class: 'finput-label' %>
        <%= form.number_field :amount, class: "finput-input", required: 'required' %>
      </div>
      <div class="finput">
        <%= form.label 'Дата оплаты*', class: 'finput-label' %>
        <%= form.date_field :operation_date, value: Date.today, class: "finput-input", required: 'required' %>
      </div>
      <div class="btns-confirm">
        <%= form.submit class: 'btn icon-confirm' %>
        <div class="btn btn-no btn-hide-panel"></div>
      </div>
    <%end%>
  </div>
<% end %>

<div class="show-and-hide-container">
  <div class="btn-subs btn-show-panel">+ Прочая оплата</div>
  <%= form_with(url: company_fin_operations_path(params[:company_id]), model: @fin_operation, local: true, html: {class: 'block-information show-and-hide-panel'}) do |form| %>
    <%= form.hidden_field :operation_type, value: :payment_other %>
    <%= form.hidden_field :operation_object_id, value: @client.id %>
    <div class="finput">
      <%= form.label 'Сумма оплаты*', class: 'finput-label' %>
      <%= form.number_field :amount, class: "finput-input", required: 'required' %>
    </div>
    <div class="finput">
      <%= form.label 'Дата оплаты*', class: 'finput-label' %>
      <%= form.date_field :operation_date, value: Date.today, class: "finput-input", required: 'required' %>
    </div>
    <div class="finput">
      <%= form.label 'Примечение к оплате*', class: 'finput-label' %>
      <%= form.text_field :description, class: "finput-input", required: 'required' %>
    </div>
    <div class="finput">
      <%= form.label 'Филиал*', class: 'finput-label' %>
      <%= form.select :affiliate_id, @current_company.affiliates.map{|a| [a.name, a.id]}, {}, {class: "finput-input"} %>
    </div>
    <div class="btns-confirm">
      <%= form.submit class: 'btn icon-confirm' %>
      <div class="btn btn-no btn-hide-panel"></div>
    </div>
  <%end%>
</div>

<% if @fin_operations_client.present? %>
  <% @fin_operations_client.each do |foc| %>
      <%= link_to company_fin_operation_path(params[:company_id], foc.id), class: "item-card" do %>
        <div class="left-content">
          <div class="name-content"><%= t('operation_type.' + foc.operation_type)%> | <%= foc.operation_date.strftime("%d %b, %Y") %></div>
          <span class="">
            <% if foc.is_active == false %>
              <span class="debt" style="margin-right: 5px;">Отмененная оплата!</span>
            <% end %>
            <%= foc.description %>
          </span>
        </div>
        <div class="right-content">
          <span class="amount"><%= foc.amount %> ₽</span>
        </div>
      <% end %>
  <% end %>
<% else %>
  <div class="loading-block">
    <div>
      <img src="/images/crying.png" style="width: 40px; margin: auto; margin-bottom: 10px;">
      <div>Ничего нет</div>
    </div>
  </div>
<% end %>