<div class="btns-card">
  <a href="/" title="Закрыть" class="btn-card icon-closed-card"></a>
  <a href="/" title="На главную" class="btn-card icon-home"></a>
  <div href="/" title="Сортировка списка" class="btn-card icon-sorting"></div>
  <div class="btn-card top-scroll"></div>
  <div class="btn-card btn-show-list">
    <div class="panel-show">
      <%= link_to "Добавить свои поля", company_add_field_path(params[:company_id]) %>
      <a href="#">Майл рассылка</a>
      <a href="#">СМС рассылка</a>
      <a href="#">Вотсап рассылка</a>
      <a href="#">Импортировать данные</a>
    </div>
  </div>
</div>
<div class="panel-sorting">Сортировка списка</div>
<input class="card-search" type="text" placeholder="Поиск">

<div class="conten-card tabs">
  <% if @all_people.present? %>
    <div class="menu-with-options">
      <% (0..@show_in_view.size - 1).each do |i| %>
        <% if @show_in_view[i].present? %>
          <div class="option<%= if i == 0 then ' active' end %>">
            <dfn data-info="<%= info_tab(i) %>">
              <%= name_tab(i) %> <%= @show_in_view[i].size %>
            </dfn>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="cont-category-book">
      <% (0..@show_in_view.size - 1).each do |i| %>
        <% if @show_in_view[i].present? then %>
          <div class="tab-category information-section">
            <%= render @show_in_view[i] %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="loading-block">
      <div>
        <div>Список пуст</div>
      </div>
    </div>
  <% end %>
</div>