<%= form_with(model: [client.company, client], local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :client_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :client_last_name %>
  </div>

  <div class="field">
    <%= form.label :patronymic %>
    <%= form.text_field :patronymic, id: :client_patronymic %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday, id: :client_birthday %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.select :sex, Client.sexes.keys, selected: client.sex %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
