<%= form_with(model: [client.company, client], local: true) do |form| %>
  <div class="conten-card">   
    <div class="information-section">
      <div class="block-information">
        
        <div id="drop_zone" class="add-avatar">
          <div class="icon-add-avatar">
            <%=form.file_field :avatar, id: :client_avatar, style: 'display: none'%>
          </div>
        </div>
        <%= form.text_field :last_name, id: :client_last_name, placeholder: "Фамилия*", class: "input-panel" %>
        <%= form.text_field :first_name, id: :client_first_name, placeholder: "Имя*", class: "input-panel" %>
        <%= form.text_field :patronymic, id: :client_patronymic, placeholder: "Отчество", class: "input-panel" %>
      </div>
      
      <div class="block-information">
        <%= form.date_field :birthday, id: :client_birthday, placeholder: "Дата рождения*", class: "input-panel" %>
        <%= form.select :sex, options_for_sexes, {selected: client.sex, placeholder: "Пол"}, {class: "input-panel"} %>

        <input type="text" class="input-panel" placeholder="Телефон" />
      </div>
    </div>
    <%= form.submit class: "btn icon-confirm" %>
    
  </div>


  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>

<script>
  if (!FileList.prototype.slice)  // firefox
    FileList.prototype.slice = Array.prototype.slice
  $("#client_avatar").withDropZone('#drop_zone', {
    action: {
      name: "image",
      params: {
        preview: true,
      }
    }
  })
</script>
