<%= link_to [people.company, people], class: "item-card" do %>
  <%=image_tag s3_image(people.avatar), class: "avatar-list" %>
  <div class="left-content">
    <div class="name-content">
      <%= people.last_name %>
      <%= people.first_name %>
    </div>
    <span class="desc-content"><%= desc_content(people.id) %></span>
  </div>
  <div class="right-content">
    <span class="amount debt"><%= monetary_indicator(people.id) %> ₽</span>
  </div>
<%end%>