<div class="title-panel">
	<div class="btns-card">
	  <a href="<%=root_path%>" title="Закрыть" class="btn-card icon-closed-card"></a>
	  <a href="<%=root_path%>" title="На главную" class="btn-card icon-home"></a>
	</div>
    <div class="title-card">Редактирование клиента</div>
</div>

<%= render 'form', client: @client %>

<%= link_to 'Show', [@client.company, @client] %> |
<%= link_to 'Back', company_clients_path %>
