<div id="notice"><%= notice %></div>
<div class="btns-card">
  <a href="/" title="Закрыть" class="btn-card icon-closed-card"></a>
  <a href="/" title="На главную" class="btn-card icon-home"></a>
  <div href="/" title="Сортировка списка" class="btn-card icon-sorting"></div>
  <div class="btn-card top-scroll"></div>
  <div class="btn-card btn-show-list">
    <div class="panel-show">
      <a href="#">Майл рассылка</a>
      <a href="#">СМС рассылка</a>
      <a href="#">Вотсап рассылка</a>
      <a href="#">Импортировать данные</a>
      <a href="#">Экспортировать данные</a>
    </div>
  </div>
</div>

<div class="panel-sorting">Сортировка списка</div>

<input class="card-search" type="text" placeholder="Поиск">

<div class="conten-card">
  <div class="menu-with-options">
    <div class="option active">Текущие клиенты 100</div>
    <div class="option">Должники 24</div>
    <div class="option">Архив 11</div>
    <div class="option">Все клиенты 111</div>
  </div>
  <a class="btn icon-plus" href="<%=new_company_client_path %>"></a>
  <div class="cont-category-book">
    <% @clients.each do |client| %>
      <%= link_to [client.company, client], class: "item-card" do %>
        <%=image_tag s3_image(client.avatar), class: "avatar-list" %>
        <div class="left-content">
          <div class="name-content"><%= client.last_name %>
          <%= client.first_name %></div>
          <span class="">Абонементы закончился<!-- Ucmas сегодня в 12:20 --></span>
        </div>
        <div class="right-content">
          <span class="amount debt">- 6 000 ₽</span>
        </div>
      <%end%>
    <% end %>
  </div>
</div>