<div class="btns-card">
  <a href="/" title="Закрыть" class="btn-card icon-closed-card"></a>
  <a href="/" title="На главную" class="btn-card icon-home"></a>
  <div href="/" title="Сортировка списка" class="btn-card icon-sorting"></div>
  <div class="btn-card top-scroll"></div>
  <div class="btn-card btn-show-list">
    <div class="panel-show">
      <a href="#">Майл рассылка</a>
      <a href="#">СМС рассылка</a>
      <a href="#">Вотсап рассылка</a>
      <a href="#">Импортировать данные</a>
      <a href="#">Экспортировать данные</a>
    </div>
  </div>
</div>

<div class="panel-sorting">Сортировка списка</div>

<input class="card-search" type="text" placeholder="Поиск">

<div class="conten-card tabs">
  <div class="menu-with-options">
    <div class="option active" title="Те клиенты, которые в данный момент пользуются услугами в вашем филиале">Текущие клиенты <%= @no_archive_clients.size %></div>
    <div class="option">Должники 0</div>
    <div class="option">Архив <%= @archive_clients.size %></div>
    <div class="option"title="Все клиенты компании, включая архив">Все клиенты <%= @total_clients %></div>
  </div>
  <a class="btn icon-plus" href="<%=new_company_client_path %>"></a>
  <div class="cont-category-book">
    <div class="tab-category information-section">
      <%= render @no_archive_clients %>
    </div>
    <div class="tab-category information-section">
      cписок должников
    </div>
    <div class="tab-category information-section">
      <%= render @archive_clients %>
    </div>
    <div class="tab-category information-section">
      <%= render @clients %>
    </div>
  </div>
</div>