<div class="btns-card">
  <a href="/" title="Закрыть" class="btn-card icon-closed-card"></a>
  <a href="/" title="На главную" class="btn-card icon-home"></a>
  <div href="/" title="Сортировка списка" class="btn-card icon-sorting"></div>
  <div class="btn-card top-scroll"></div>
  <div class="btn-card btn-show-list">
    <div class="panel-show">
      <a href="#">Майл рассылка</a>
      <a href="#">СМС рассылка</a>
      <a href="#">Вотсап рассылка</a>
      <a href="#">Импортировать данные</a>
    </div>
  </div>
</div>

<div class="panel-sorting">Сортировка списка</div>

        <%=form_with url: import_company_client_path(params[:company_id]), model: @client, local: true, html: {class: 'block-information', id: 'cancel-panel', style: 'margin: 20px auto;'} do |f|%>
          <h3><div class="icon-time"></div>Отмена операции</h3>
          
          <div class="finput">
            <label class="finput-label">Причина отмены*</label>
            <%= f.text_field :text, class: 'finput-input', required: 'required' %>
          </div>
          <div class="btns-confirm">
            <%= f.submit class: 'btn icon-confirm' %>
            <div id="btn-cancel-panel" class="btn btn-no"></div>
          </div>
        <%end%>


<input class="card-search" type="text" placeholder="Поиск">

<div class="conten-card tabs">
  <div class="menu-with-options">

    <% if @current_clients.present? then %>
      <div class="option active" title="Те клиенты, которые в данный момент пользуются услугами в вашем филиале">Текущие клиенты <%= @current_clients.size %></div>
    <% end %>

    <% if @debt_clients.present? then %>
      <div class="option">Должники <%= @debt_clients.size %></div>
    <% end %>

    <div class="option"title="Все клиенты компании, включая архив">Все клиенты <%= @total_clients %></div>
    <% if @archive_clients.present? then %>
      <div class="option">Архив <%= @archive_clients.size %></div>
    <% end %>
  </div>
  <a class="btn icon-plus" href="<%=new_company_client_path %>"></a>
  <div class="cont-category-book">

    <% if @current_clients.present? then %>
      <div class="tab-category information-section">
        <%= render @current_clients %>
      </div>
    <% end %>

    <% if @debt_clients.present? then %>
      <div class="tab-category information-section">
        <%= render @debt_clients %>
      </div>
    <% end %>

    <% if @clients.present? then %>
      <div class="tab-category information-section">
        <%= render @clients %>
      </div>
    <% else %>
      <div class="loading-block">
        <div>
          <div>Нет клиентов</div>
        </div>
      </div>
    <% end %>

    <% if @archive_clients.present? then %>
      <div class="tab-category information-section">
        <%= render @archive_clients %>
      </div>
    <% end %>

  </div>
</div>