<div class="title-panel avatar">
  <div class="archive img-card">
    <%if @client.archive%>
      <div title="Клиент в архиве" class="people-archive"></div>
    <%end%>
    <%=image_tag s3_image(@client.avatar)%>
  </div>
  <div class="btns-card">
    <a href="<%=root_path%>" title="Закрыть" class="btn-card icon-closed-card"></a>
    <a href="<%=root_path%>" title="На главную" class="btn-card icon-home"></a>
    
    <div class="btn-card top-scroll"></div>

    <div class="btn-card btn-show-list">
      <div class="panel-show">
        <%= link_to 'Вернуться к списку', company_clients_path %>
        <%= link_to 'Редактировать', [:edit, @current_company, @client] %>
        <%if @client.archive%>
          <%= link_to 'Убрать из архива', company_clients_archive_path(params[:company_id], params[:id], 0), method: :post%>
        <%else%>
          <%= link_to 'Отправить в архив', company_clients_archive_path(params[:company_id], params[:id], 1), method: :post%>
        <%end%>
        <%= link_to 'Удалить', company_client_path(@current_company, @client), method: :delete, data: {confirm: 'Вы уверены, что хотите удалить клиента?'} %>
      </div>
    </div>
  </div>
  <div class="title-card"><%= @client.last_name %> <%= @client.first_name %><br /><%= @client.patronymic %></div>
  <div class="role-card">Клиент</div>
</div>

<div class="conten-card tabs">
  <div class="menu-with-options">
    <div class="option active">Основное</div>
    <div class="option">ОКАЗАНИЕ УСЛУГ <span class="amount debt">- 6 000 ₽</span></div>
    <div class="option">Все финансовые операции <span class="amount">18 000 ₽</span></div>
  </div>
  
  <div class="cont-category-book">
    <div class="tab-category information-section">
      <div class="block-information">
        <div class="item-information">
          <span class="title-input">Возвраст (лет)</span><span class="text-input"><%= Date.today.year - @client.birthday.year %></span></div>
        <div class="item-information"><span class="title-input">Дата Рождения</span><span class="text-input"><%= @client.birthday.strftime("%d %b, %Y") %></span></div>
        <div class="item-information"><span class="title-input">Пол</span><span class="text-input"><%= t("sex.#{@client.sex}") %></span></div>
        <div class="item-information"><span class="title-input">Телефон</span><span class="text-input"><%= @client.phone_number %></span></div>
      </div>
      <div class="block-information parent-compact">
        <h3>Информация о матери</h3>
        <div class="btn-compact click-compact"><div></div></div>
        <div class="container-info compact">
          <div class="item-information"><span class="title-input">ФИО</span><span class="text-input">Алиева Пятимат Алиевна</span></div>
          <div class="item-information"><span class="title-input">Телефон</span><span class="text-input">+7 (918) 730 10 05</span></div>
          <div class="item-information"><span class="title-input">Номер паспорта</span><span class="text-input">82 38 233322</span></div>
        </div>
      </div>
      <div class="block-information parent-compact">
        <h3>Информация об отце</h3>
        <div class="btn-compact click-compact"><div></div></div>
        <div class="container-info compact">
          <div class="item-information"><span class="title-input">ФИО</span><span class="text-input">Алиев Магомед Исаевич</span></div>
          <div class="item-information"><span class="title-input">Телефон</span><span class="text-input">+7 (918) 730 10 05</span></div>
          <div class="item-information"><span class="title-input">Номер паспорта</span><span class="text-input">82 38 233322</span></div>
        </div>
      </div>
    </div>
    <div class="tab-category">
      <div class="btn-subs">Новая запись</div>
      
      <div class="information-section">
        <div class="block-information entry parent-compact">
          <a href="#" class="title-entry">Группа Английский по будням</a>
          <div class="btn-compact click-compact"><div></div></div>
          <div class="service-entry">
            <div>Английский</div>
          </div>
          <div class="responsible-entry compact">
            <div class="item-responsible"><div class="name-responsible"><img src="/resources/no-image-available.png" /><div>Агаева Патимат</div></div> <div class="rate-responsible">4 500 ₽ (35%)</div></div>
            <div class="item-responsible"><div class="name-responsible"><img src="/resources/no-image-available.png" /><div>Улубекова Зумруд</div></div> <div class="rate-responsible">5 000 ₽ (фикс.)</div></div>
          </div>
          <div class="discount-entry compact">
            <div class="discount">Скидок нет</div> <div class="add-discount">+ Добавить скидку</div>
          </div>
          <div class="unsubscribe compact">отписать</div>
          <!--<div class="subscribe compact">записать</div>-->

          <div class="info-about-subsc">Осталось оплатить <span class="amount debt">6 000 ₽ из 6 000 ₽</span></div>
          <div class="current-subs click-compact">Текущий абонемент до 21 августа 2018</div>
          <div class="subscriptions compact">
            <a href="#" class="subscription">
              <div class="data-subscriptions"><div class="add-discount">+ Продать абонемент</div></div>
            </a>
            <a href="#" class="subscription active">
              <div class="data-subscriptions">Текущий до 21 август 2018</div>
              <div class="payment-subs">надо оплатить <span class="amount debt">3 000 ₽</span></div>
              <div class="visits-subs">посещений уже нет</div>
            </a>
            <a href="#" class="subscription">
              <div class="data-subscriptions">от 21 июнь 2018 до 21 июль 2018</div>
              <div class="payment-subs">надо оплатить <span class="amount debt">3 000 ₽</span></div>
            </a>
            <a href="#" class="subscription">
              <div class="data-subscriptions">от 21 май 2018 до 21 июнь 2018</div>
              <div class="payment-subs">был оплачен <span class="amount">6 000 ₽</span></div>
            </a>
            <a href="#" class="subscription">
              <div class="data-subscriptions">от 21 апрель 2018 до 21 май 2018</div>
              <div class="payment-subs">был оплачен <span class="amount">6 000 ₽</span></div>
            </a>
            <div class="more-subscriptions">Загрузить еще пять</div>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-category information-section">
      <div class="block-information">
        <div class="item-information">
          <span class="title-input">26 июля 2018</span>
          <span class="text-input">3 000 ₽</span>
          <span class="text-input">Оплатил за абонемент от 21 июля 2018 года, который стоит 4000 ₽</span>
        </div>
      </div>
      <div class="block-information">
        <div class="item-information">
          <span class="title-input">28 июня 2018</span>
          <span class="text-input">3 000 ₽</span>
          <span class="text-input">Оплатил за абонемент от 21 июня 2018 года, который стоит 4000 ₽</span>
        </div>
      </div>
      <div class="block-information">
        <div class="item-information">
          <span class="title-input">25 мая 2018</span>
          <span class="text-input">6 000 ₽</span>
          <span class="text-input">Оплатил за абонемент от 21 мая 2018 года, который стоит 4000 ₽</span>
        </div>
      </div>
      <div class="block-information">
        <div class="item-information">
          <span class="title-input">22 апреля 2018</span>
          <span class="text-input">6 000 ₽</span>
          <span class="text-input">Оплатил за абонемент от 21 апреля 2018 года, который стоит 4000 ₽</span>
        </div>
      </div>
    </div>

  </div>
</div>