<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Patronymic:</strong>
  <%= @client.patronymic %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @client.birthday %>
</p>

<%= link_to 'Edit', edit_company_client_path(@client) %> |
<%= link_to 'Back', company_clients_path %>
