<%= form_with(model: [service.company, service], local: true) do |form| %>
  <div class="conten-card">   
    <div class="information-section">
      <div class="block-information">
        <%= form.text_field :name, placeholder: "Название*", class: "input-panel"  %>
      </div>
    </div>
    <%= form.submit class: "btn icon-confirm" %>
  </div>
  <% if service.errors.any? %>
    <div id="error_explanation" class="message">
      <h4><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h4>
      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>