<div id="notice"><%= notice %></div>
<div class="btns-card">
  <a href="/" title="Закрыть" class="btn-card icon-closed-card"></a>
  <a href="/" title="На главную" class="btn-card icon-home"></a>
  <div href="/" title="Сортировка списка" class="btn-card icon-sorting"></div>
</div>

<div class="panel-sorting">
  Сортировка списка
</div>
<input class="card-search" type="text" placeholder="Поиск услуг...">

<div class="conten-card">
  <div class="menu-with-options">
    <div class="option active">Все услуги 2</div>
  </div>
  <a class="btn icon-plus" href="<%=new_company_service_path%>"></a>
  <div class="cont-category-book">
    <% @services.each do |service| %>
      <%= link_to [service.company, service], class: "item-card" do %>
        
          <div class="left-content">
            <div class="name-content"><%=service.name%></div>
            <span class="debt-for-course"><span style="margin-right: 4px;">Текущий месяц</span> <span class="amount debt">1 140 000 ₽</span><span style="margin: 0 2px;">из</span><span class="amount">1 441 000 ₽</span></span>
          </div>
          <div class="right-content">
          </div>
  <!--         <%= link_to 'Edit', edit_company_service_path(service.company, service) %>
          <%= link_to 'Destroy', [service.company, service], method: :delete, data: {confirm: 'Are you sure?' } %> -->
          <%end %>
      <%end%>
  </div>
</div>