<div id="notice"><%= notice %></div>
<div class="btns-card">
  <a href="/" title="Закрыть" class="btn-card icon-closed-card"></a>
  <a href="/" title="На главную" class="btn-card icon-home"></a>
</div>
<input class="card-search" type="text" placeholder="Поиск услуг...">

<div class="conten-card">
  <div class="menu-with-options">
    <div class="option active">Все услуги 2</div>
  </div>
  <a class="btn icon-plus" href="<%=new_company_service_path%>"></a>
  <div class="cont-category-book">
    <% @services.each do |service| %>
      <div class="item-card">
        <%=service.name%>
        <%= link_to 'Show', [service.company, service] %>
        <%= link_to 'Edit', edit_company_service_path(service.company, service) %>
        <%= link_to 'Destroy', [service.company, service], method: :delete, data: {confirm: 'Are you sure?' } %>
        </div>
    <% end %>
  </div>
</div>