<%= form_with(model: [affiliate.company, affiliate], local: true) do |form| %>
  <div class="conten-card">   
    <div class="information-section">
      <div class="block-information">
        <%=form.text_field :name, value: affiliate.name, placeholder: "Название*", class: "input-panel" %>
      </div>
      
      <div class="block-information">
        <%=form.text_field :address, value: affiliate.address, placeholder: "Адрес филиала*", class: "input-panel" %>
        <%=form.text_field :phone_number, value: affiliate.phone_number, placeholder: "Телефон", class: "input-panel" %>
        <%=form.text_field :email, value: affiliate.email, placeholder: "Email", class: "input-panel" %>
      </div>
    </div>
    <%= form.submit class: "btn icon-confirm" %>
  </div>

  <% if affiliate.errors.any? %>
    <div id="error_explanation" class="message">
      <h2><%= pluralize(affiliate.errors.count, "error") %> prohibited this affiliate from being saved:</h2>
      <ul>
      <% affiliate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>