<div class="title-panel">
	<div class="btns-card">
	  <a href="<%=root_path%>" title="Закрыть" class="btn-card icon-closed-card"></a>
	  <a href="<%=root_path%>" title="На главную" class="btn-card icon-home"></a>
	</div>
    <div class="title-card">Редактирование филиала</div>
</div>

<%= render 'form', affiliate: @affiliate %>

<%= link_to 'Show', [@affiliate.company, @affiliate] %> |
<%= link_to 'Back', company_affiliates_path %>
