<div id="notice"><%= notice %></div>
<div class="btns-card">
  <a href="/" title="Закрыть" class="btn-card icon-closed-card"></a>
  <a href="/" title="На главную" class="btn-card icon-home"></a>
  <div href="/" title="Сортировка списка" class="btn-card icon-sorting"></div>
</div>

<div class="panel-sorting">
  Сортировка списка
</div>
<input class="card-search" type="text" placeholder="Поиск филиала...">

<div class="conten-card">
  <div class="menu-with-options">
    <div class="option active">Все филиалы 2</div>
  </div>
  <a class="btn icon-plus" href="<%=new_company_affiliate_path%>"></a>
  <div class="cont-category-book">
    <% @affiliates.each do |affiliate| %>
      <%= link_to [affiliate.company, affiliate], class: "item-card" do %>
        <div class="left-content">
          <div class="name-content"><%= affiliate.name %></div>
          <span class=""><span style="margin-right: 2px;">Прибыль за месяц</span> <span class="amount">1 441 000 ₽</span></span>
        </div>
        <div class="right-content">
          <div class="people-on-course">121<img src="/images/visitors1.png"></div>
        </div>
        

<!--         <%= link_to 'Edit', edit_company_affiliate_path(affiliate.company, affiliate) %>
        <%= link_to 'Destroy', company_affiliate_path(affiliate.company_id, affiliate), method: :delete, data: { confirm: 'Are you sure?' } %> -->
      <%end%>
    <% end %>
  </div>
</div>