


<div class="katalog">
  <div class="header-katalog">
    <a class="logo" href="<%=root_path%>"><img src="/images/logo-mini.png" /></a>
    <input type="text" placeholder="Быстрый поиск..." />
  </div>
  <div class="content-katalog katalog-scrollbar">
    <div class="result-quick-search"></div>
    <div class="instruments">
      <div class="title-section">Инструменты</div>
      <a href="<%=company_clients_path @current_company%>" class="instrument">
        <img src="/images/user.png" />
        <div>Клиенты</div>
      </a>
      <a href="<%=company_records_path @current_company%>" class="instrument">
        <img src="/images/pencil.png" />
        <div>Запись</div>
      </a>
      <a href="<%=company_services_path @current_company%>" class="instrument">
        <img src="/images/list.png" />
        <div>Услуги</div>
      </a>
      <a href="<%=company_affiliates_path @current_company%>" class="instrument">
        <!-- <img src="/images/office3.png" /> -->
        <img src="/images/workflow.png" />
        <div>Филиалы</div>
      </a>
      <div class="instrument">
        <img src="/images/teacher.png" />
        <div>Сотрудники</div>
      </div>
      <a href="<%=company_fin_operations_path @current_company%>" class="instrument">
        <img src="/images/2.png" />
        <div>Финансы</div>
      </a>      
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('turbolinks:load', function() {

    function funcBefore() {
      $('.result-quick-search').html('<div class="loading-block"><img src="images/loading.gif"</div>');
    }
    function funcSuccess(data) {
      $('.result-quick-search').html(data);
    }

    $('.katalog').on("input",function(ev){
      var textSearch = $(ev.target).val(); 
      var arrayTextSearch = textSearch.split(' ');

      if(textSearch != "" && textSearch != " " ) {
        $.ajax( {
          url: '/search_result',
          method: 'GET',
          data: {
            request: arrayTextSearch
          },
          dataType: 'HTML',
          beforeSend: funcBefore,
          success: funcSuccess
        });
      }
      else {
        $('.result-quick-search').html('');
      }

    });
  });
</script>