<div class="katalog">
  <div class="header-katalog">
    <img src="/images/search.png" class="search-icon">
    <input type="text" placeholder="Быстрый поиск..." />
  </div>
  <div class="content-katalog katalog-scrollbar">
    <div class="result-quick-search"></div>
    <div class="instruments">
      <div class="title-section">Инструменты</div>
      <a href="<%= company_clients_path @current_company.id %>" class="instrument">
        <img src="/images/user.png" />
        <div>Клиенты</div>
      </a>
      <a href="<%=company_records_path @current_company.id %>" class="instrument">
        <img src="/images/group.png" />
        <div>Группы</div>
      </a>
      <a href="<%=company_fin_operations_path @current_company.id %>" class="instrument">
        <img src="/images/2.png" />
        <div>Финансы</div>
      </a>

      <% if @user_director %>
        <%= link_to company_workers_path(@current_company.id), class: "instrument" do %>
          <img src="/images/teacher.png" />
          <div>Сотрудники</div>
        <% end %>
<!--         <a href="<%=company_services_path @current_company.id %>" class="instrument">
          <img src="/images/list.png" />
          <div>Услуги</div>
        </a>
        <a href="<%=company_affiliates_path @current_company.id %>" class="instrument">
          <img src="/images/workflow.png" />
          <div>Филиалы</div>
        </a> -->
        <%= link_to company_path, class: "instrument" do %>
          <img src="/images/office3.png" />
          <div>Компания</div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('turbolinks:load', function() {

    function funcBefore() {
      $('.result-quick-search').html('<div class="loading-block"><img src="images/loading.gif"></div>');
    }
    function funcSuccess(data) {
      $('.result-quick-search').html(data);
    }

    var lastId = null;
    $('.katalog input').on("input", function(){
      var textSearch = this.value.trim();
      clearTimeout(lastId)

      if(textSearch === "") {
        $('.result-quick-search').html('');
      }
      else {
        funcBefore()
        lastId = setTimeout(() => {
          var arrayTextSearch = textSearch.split(' ');
          $.ajax( {
            url: '/search_result',
            method: 'GET',
            data: {
              request: arrayTextSearch
            },
            dataType: 'HTML',
            // beforeSend: funcBefore,
            success: funcSuccess
          });
        }, 500)
      }
    });
  });
</script>