<%if signed_in?%>
  <div class="current-object">

    <img class="object-avatar" src="/resources/no-image-available.png" />
    <div class="object-info">
      <span class="name-people"><%="#{current_user.first_name} #{current_user.last_name}"%></span>
      <%= link_to 'Владелец', edit_user_registration_path, class: "roles-people" %>
    </div>
    <%= link_to 'выход', destroy_user_session_path, method: :delete, class: "sign-out" %>
  </div>
<%end%>


<div class="katalog">
  
  <div class="header-katalog">
    <a class="logo" href="<%=root_path%>"><img src="/images/logo-mini.png" /></a>
    <input type="text" placeholder="Поиск инструментов или людей..." />
  </div>
  
  <div class="content-katalog">
    <div class="menu-with-options">
      <div class="option active">Все функции</div>
      <div class="option">Оказание услуг</div>
      <div class="option">Компания</div>
      <div class="option">Финансы</div>
      <div class="option">Склад</div>
      <div class="option">Аналитика</div>
    </div>
    
    <div class="instruments">
      <a href="<%=company_clients_path @current_company%>" class="instrument">
        <img src="/images/user.png" />
        <div>Клиенты</div>
      </a>
      <a href="" class="instrument">
        <img src="/images/list.png" />
        <div>Услуги</div>
      </a>
      <a href="" class="instrument">
        <!-- <img src="/images/office3.png" /> -->
        <img src="/images/workflow.png" />
        <div>Филиалы</div>
      </a>

      <!-- <div class="instrument">
        <img src="/images/group.png" />
        <div>Группы</div>
      </div>
      <div class="instrument">
        <img src="/images/group.png" />
        <div>Индивидуально</div>
      </div>
      <div class="instrument">
        <img src="/images/img_432045.png" />
        <div>Абонементы</div>
      </div>
      <div class="instrument">
        <img src="/images/time-left.png" />
        <div>Посещения</div>
      </div>
      
      <div class="instrument">
        <img src="/images/2.png" />
        <div>Оплаты</div>
      </div>
       -->
      
    </div>
    
  </div>
  
</div>
