<div class="panel-list" style="background-color: whitesmoke;">
  <div style='position: relative;'>
    <h2 class="panel-form__title" style="margin-top: 10px;"><%= current_user.last_name %> <%= current_user.first_name %></h2>

    <% 
      if request.referrer == request.original_url or request.referrer == nil
        url = clients_path
      else
        url = request.referrer
      end
    %>

    <a href="<%= url %>" class="btn-back new-btn">
      <ion-icon name="arrow-back" role="img" class="hydrated" aria-label="arrow back"></ion-icon>
    </a>
  </div>
  <div class="container-list gray-scrollbar">
    <%= link_to 'Редактировать', edit_user_registration_path %>
    <%= link_to 'Выход', destroy_user_session_path, method: :delete %>


    <div class="tab-category information-section">
      <div class="block-information">
        <div class="item-information"><span class="title-input">Дата Рождения</span><span class="text-input"><%= current_user.birthday.nil? ? 'Не указана' : current_user.birthday.strftime("%d %b, %Y") %></span></div>
        <div class="item-information"><span class="title-input">Почта</span><span class="text-input"><%= current_user.email %></span></div>
        <div class="item-information"><span class="title-input">id</span><span class="text-input"><%= current_user.id %></span></div>
      </div>
    </div>
    <div class="tab-category information-section">
      <div class="show-and-hide-container">
        <div class="btn-subs btn-show-panel">+ Добавить компанию</div>
        <%= form_with(url: companies_path, model: @company, local: true, html: {class: 'block-information show-and-hide-panel'}) do |form| %>
       
          <div class="finput">
            <%= form.label 'Название*', class: 'finput-label' %>
            <%= form.text_field :name, class: 'finput-input', required: 'required' %>
          </div>
          <div class="finput">
            <%= form.label 'Адрес*', class: 'finput-label' %>
            <%= form.text_field :address, class: 'finput-input', required: 'required' %>
          </div>
          <div class="btns-confirm">
            <%= form.submit class: 'btn icon-confirm' %>
            <div class="btn btn-no btn-hide-panel"></div>
          </div>
        <%end%>
      </div>

      <% if @people_user.present? %>
        <% @people_user.each do |p| %>
            <%= link_to role_person_path(p.id), method: :post, class: "item-card" do %>
              <div class="left-content">
                <div class="name-content"><%= Company.find(p.company_id).name %></div>
                <span class=""><%= corrent_role(p.role, '- ', ' ') %></span>
              </div>
              <div class="right-content"></div>
            <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>