<%= form_with(model: company, local: true) do |form| %>

  <div class="conten-card">
    <div class="information-section">
      <div class="block-information">
        <% if company.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

            <ul>
            <% company.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="finput">
          <%= form.label 'Название*', class: 'finput-label' %>
          <%= form.text_field :name, id: :company_name, class: 'finput-input', required: 'required' %>
        </div>
        <div class="finput">
          <%= form.label 'Адрес*', class: 'finput-label' %>
          <%= form.text_field :address, class: 'finput-input', required: 'required' %>
        </div>
      </div>
    </div>
    <%= form.submit class: "btn icon-confirm" %>
  </div>
<% end %>
