<div class="title-panel">
  <div class="btns-card">
    <a href="<%=root_path%>" title="Закрыть" class="btn-card icon-closed-card"></a>
    <a href="<%=root_path%>" title="На главную" class="btn-card icon-home"></a>
      <div class="btn-card top-scroll"></div>
      <div class="btn-card btn-show-list">      
        <div class="panel-show">
          <%= link_to 'Назад', company_clients_path %>
        </div>
      </div>

  </div>
    <div class="title-card">Добавление своих полей</div>
</div>


<div class="information-section">
  <%= form_with(url: company_info_blocks_path(params[:company_id]), model: @new_block, local: true, html: {class: 'block-information'}) do |form| %>
    <%= form.hidden_field :model_object, value: 'clients' %>

    <dfn data-info="В блоке можно создать свои поля">
      <div class="finput">
        <%= form.label 'Название блока*', class: 'finput-label' %>
        <%= form.text_field :name, class: "finput-input" %>
      </div>
    </dfn>

    <div class="btns-confirm">
      <%= form.submit class: 'btn icon-confirm' %>
    </div>
  <%end%>

  <% if @blocks_clients.present? %>
    <% @blocks_clients.each do |b| %>
      <div class="block-information">
        <h3>Поля блока "<%= b.name %>"</h3>
        <div class="container-info compact">
          <% fields_block = @field_templates_clients.where(block_id: b.id) %>
          <% fields_block.each do |ft| %>
            <div class="item-information"><span class="title-input"><%= ft.name %></span><span class="text-input"><%= t('field_type.' + ft.field_type) %> </span></div>  
          <% end %>
        </div>

        <div class="show-and-hide-container">
          <div class="add-discount btn-show-panel">+ Добавить</div>
          <%= form_with(url: company_field_templates_path(params[:company_id]), model: @new_template_field, local: true, html: {class: 'panel-attachment show-and-hide-panel'}) do |form| %>
            <%= form.hidden_field :block_id, value: b.id %>

            <div class="finput">
              <%= form.label 'Название поля*', class: 'finput-label' %>
              <%= form.text_field :name, class: "finput-input" %>
            </div>

            <dfn data-info="Выбор формата поля">
              <div class="finput focus">
                <%= form.label 'Тип поля*', class: 'finput-label' %>
                <%= form.select :field_type, options_for(FieldTemplate.field_types, 'field_type'), {selected: @new_template_field.field_type}, {class: "finput-input"} %>
              </div>
            </dfn>

            <div class="btns-confirm">
              <%= form.submit class: 'btn icon-confirm' %>
              <div class="btn btn-no btn-hide-panel"></div>
            </div>
          <%end%>
        </div>
      </div>
    <%end%>
  <%end%>

</div>