<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="panel-list" style="background-color: whitesmoke;">

    <div style='position: relative;'>
      <h2 class="panel-form__title" style="margin-top: 10px; margin-left: 30px;">Восстановление пароля</h2>
      <%= f.submit 'Отправить', class: "btn title-btn" %>
    </div>
    <div class="container-list gray-scrollbar">

    <div class="cont-category-book">
      <div class="tab-category information-section">
        <%= devise_error_messages! %>
        <div class="block-information authorization">
          <div class="finput focus">
            <%= f.label t('.email'), :email, class: 'finput-label' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", required: 'required', class: "finput-input" %>
          </div>
        </div>
        <%= render "users/shared/links" %>
        <a class="link-to" href="<%=new_user_registration_path%>">Регистрация</a>
        <br />
        <a class="link-to" href="<%=new_user_session_path%>">Вход</a>
      </div>
    </div>
    </div>
  </div>
<% end %>