<div class="title-panel">
  <div class="btns-card">
    <a href="<%=root_path%>" title="Закрыть" class="btn-card icon-closed-card"></a>
    <a href="<%=root_path%>" title="На главную" class="btn-card icon-home"></a>
    
    <div class="btn-card top-scroll"></div>

    <div class="btn-card btn-show-list">
      <div class="panel-show">
        <%= link_to 'Назад', :back %>
        <%= link_to 'Перейти к владельцу', company_client_path(params[:company_id], @client_subscription.id) %>
        <%= link_to 'Перейти к записи', company_record_path(params[:company_id], @record_client.id) %>
        <div id="recalculation">Сделать перерасчет</div>
        <% if Date.today <= @subscription.finish_at and @subscription.is_active == true %>
          <div id="cancel">Отменить абонемент</div>
        <% end %>
        <% if Date.today <= @subscription.finish_at %>
          <div id="renewal">Продлить абонемент</div>
        <% end %>
      </div>
    </div>
 
  </div>
  <div class="role-card">Абонемент<br />от <%= @subscription.start_at.strftime("%d %b, %Y") %> до <%= @subscription.finish_at.strftime("%d %b, %Y") %></div>
</div>


<div class="conten-card tabs">
  <div class="cont-category-book">
    <div class="tab-category information-section">

      <%=form_with url: company_histories_path(params[:company_id]), model: @history, local: true, html: {class: 'block-information', id: 'recalculation-panel', style: 'display: none;'} do |f|%>
        <h3><div class="icon-time"></div>Перерасчет</h3>
        <%=f.hidden_field :object_log, value: 'subscription'%>
        <%=f.hidden_field :object_id, value: @subscription.id %>
        <%=f.hidden_field :type_history, value: 'recalculation'%>
        
        <div class="finput">
          <label class="finput-label">Сумма перерасчета*</label>
          <%= f.number_field :conversion_amount, class: 'finput-input', required: 'required' %>
        </div>
        <div class="finput">
          <label class="finput-label">Причина перерасчета*</label>
          <%= f.text_field :note, class: 'finput-input', required: 'required' %>
        </div>
        <div class="btns-confirm">
          <%= f.submit class: 'btn icon-confirm' %>
          <div id="btn-recalculation-panel" class="btn btn-no"></div>
        </div>
      <%end%>

      <% if Date.today <= @subscription.finish_at and @subscription.is_active == true %>
        <%=form_with url: company_histories_path(params[:company_id]), model: @history, local: true, html: {class: 'block-information', id: 'cancel-panel', style: 'display: none;'} do |f|%>
          <h3><div class="icon-time"></div>Отмена абонемента</h3>
          <%=f.hidden_field :object_log, value: 'subscription'%>
          <%=f.hidden_field :object_id, value: @subscription.id %>
          <%=f.hidden_field :type_history, value: 'cancel'%>
          
          <div class="finput">
            <label class="finput-label">Причина отмены*</label>
            <%= f.text_field :note, class: 'finput-input', required: 'required' %>
          </div>
          <div class="btns-confirm">
            <%= f.submit class: 'btn icon-confirm' %>
            <div id="btn-cancel-panel" class="btn btn-no"></div>
          </div>
        <%end%>
      <% end %>

      <% if Date.today <= @subscription.finish_at %>
        <%=form_with url: company_histories_path(params[:company_id]), model: @history, local: true, html: {class: 'block-information', id: 'renewal-panel', style: 'display: none;'} do |f|%>
          <h3><div class="icon-time"></div>Продление абонемента</h3>
          <%=f.hidden_field :object_log, value: 'subscription'%>
          <%=f.hidden_field :object_id, value: @subscription.id %>
          <%=f.hidden_field :type_history, value: 'renewal'%>
          
          <div class="finput">
            <label class="finput-label">Количество дней продления*</label>
            <%= f.number_field :days_for_correction, class: 'finput-input', required: 'required' %>
          </div>
          <div class="finput-desc">при вводе отрицательного значения, дни ониматься текущей даты</div>
          <div class="finput">
            <label class="finput-label">Причина продления*</label>
            <%= f.text_field :note, class: 'finput-input', required: 'required' %>
          </div>
          <div class="btns-confirm">
            <%= f.submit class: 'btn icon-confirm' %>
            <div id="btn-renewal-panel" class="btn btn-no"></div>
          </div>
        <%end%>
      <%end%>

      <div class="block-information show-hide-panel">
        <h3>
          <div class="icon-time"></div>Оплаты 
          <span class="amount <%= @fin_operations_subscription.sum(:amount) >= @subscription.price.to_i ? '' : 'debt' %>"><%= @fin_operations_subscription.where(is_active: true).sum(:amount) %> ₽ из <%= @subscription.price %> ₽</span>
        </h3>
        <div class="container-information compact">
          <% if @fin_operations_subscription.present? %>
            <% @fin_operations_subscription.each do |fos| %>
              <%= link_to company_fin_operation_path(params[:company_id], fos.id), class: "item-element" do %>
                <div class="left-side-elem" style="line-height: 2;">
                    <% if fos.is_active == false %>
                      <span style="margin-right: 5px;">Отмененная оплата!</span>
                    <% end %>
                    <span class="amount"><%= fos.amount %> ₽</span>
                </div>
                <div class="rigth-side-elem"><%= fos.operation_date.strftime("%d %b, %Y") %></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="discount">Список пуст</div>
          <% end %>
        </div>
        <div class="show-and-hide-container">
          <div class="add-discount btn-show-panel">+ Добавить</div>

          <%= form_with(url: company_fin_operations_path(params[:company_id]), model: @fin_operation, local: true, html: {class: 'panel-attachment show-and-hide-panel'}) do |form| %>
            <%= form.hidden_field :operation_type, value: :payment_subscription %>
            <%= form.hidden_field :operation_object_id, value: @subscription.id %>
            <%= form.hidden_field :affiliate_id, value: @record_client.affiliate_id %>
            <div class="finput">
              <%= form.label 'Сумма оплаты*', class: 'finput-label' %>
              <%= form.number_field :amount, class: "finput-input", required: 'required', value: @subscription.price.to_f - @fin_operations_subscription.where(is_active: true).sum(:amount) %>
            </div>
            <div class="finput">
              <%= form.label 'Дата оплаты*', class: 'finput-label' %>
              <%= form.date_field :operation_date, value: Date.today, class: "finput-input", required: 'required' %>
            </div>
            <div class="btns-confirm">
              <%= form.submit class: 'btn icon-confirm' %>
              <div class="btn btn-no btn-hide-panel"></div>
            </div>
          <%end%>
        </div>
        <div class="testt click-compact">Раскрыть</div>
        <div class="testt click-compact compact">Скрыть</div>
      </div>

      <% if @history_subscription.size > 0 %>
        <div class="block-information show-hide-panel">
          <h3>
            <div class="icon-time"></div>История операций<span><%= @history_subscription.size %></span>
          </h3>
          <div class="container-information compact">
            <% @history_subscription.each do |h| %>
              <% user_history = User.find(h.user_id) %>
                <div class="item-element">
                  <div class="left-side-elem"><%= h.note %>
                  </div>
                  <div class="rigth-side-elem"><span><%= user_history.first_name %> <%= user_history.last_name %>, </span><span><%= h.created_at.strftime("%d %b %Y") %></span></div>
                </div>
              <% end %>
          </div>
          <div class="testt click-compact">Раскрыть</div>
          <div class="testt click-compact compact">Скрыть</div>
        </div>
      <% end %>

      <div class="block-information parent-compact">
        <h3>Настройки абонемента</h3>
        <div class="btn-compact click-compact"><div></div></div>
        <div class="container-information compact">
          <div class="item-information">
            <span class="title-input">Владелец</span>
            <%= link_to company_client_path(params[:company_id], @client_subscription.id), class: 'img-input' do %>
              <%= image_tag s3_image(@client_subscription.avatar) %>
              <span><%= @client_subscription.first_name %> <%= @client_subscription.last_name %></span>
            <% end %>
          </div>
          <div class="item-information">
            <span class="title-input">Запись</span>
            <span class="text-input">
              <%= link_to @record_client.name, company_record_path(params[:company_id], @record_client.id) %>
            </span>
          </div>
          <div class="item-information"><span class="title-input">Дата начала</span><span class="text-input"><%= @subscription.start_at.strftime("%d %b, %Y") %></span></div>
          <div class="item-information"><span class="title-input">Дата завершения</span><span class="text-input"><%= @subscription.finish_at.strftime("%d %b, %Y") %></span></div>

          <div class="item-information"><span class="title-input">Количество посещений</span><span class="text-input"><%= @subscription.visits %></span></div>
          <div class="item-information"><span class="title-input">Активный</span><span class="text-input"><%= @subscription.is_active %></span></div>
          <div class="item-information"><span class="title-input">Сумма</span><span class="text-input"><%= @subscription.price %></span></div>
          <div class="item-information"><span class="title-input">Примечание</span><span class="text-input"><%= @subscription.note %></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
