<%= form_with(url: [@current_company, record], model: record, local: true) do |form| %>
  <div class="conten-card">
    <div class="information-section">
      <div class="block-information">
        <%= form.text_field :name, placeholder: "Название*", class: "input-panel" %>
      </div>
      <div class="block-information">
        <h3>Настройка группы</h3>

        <%= form.label t('.record_type') %>
        <%= form.select :record_type, options_for(Record.record_types, 'record_type'), {selected: record.record_type}, {class: "input-panel"}%>

        <%= form.label t('.visit_type') %>
        <%= form.select :visit_type, options_for(Record.visit_types, 'visit_type'), {selected: record.visit_type}, {class: "input-panel"}%>

        <%= form.number_field :total_clients, placeholder: "Лимит в группе", class: "input-panel" %>

        <label>Дата начала*</label>
        <%= form.date_field :created_at, placeholder: "Дата начала*", class: "input-panel"%>
        <label>Дата завершения*</label>
        <%= form.date_field :finished_at, placeholder: "Дата завершения*", class: "input-panel"%>
        <!--<input type="text" class="input-panel" placeholder="Период обучения* (указать в месяцах)" />-->

        <%= form.select :affiliate_id, @current_company.affiliates.map{|a| [a.name, a.id]}, {placeholder: "Пол"}, {class: "input-panel"} %>
      </div>
      <div class="block-information">
        <h3>Настройка абонементов</h3>
        <%= form.label t('.abon_period') %>
        <%= form.number_field :abon_period, placeholder: "Период абонемента (в днях)*", class: "input-panel", value: "30" %>
        <%= form.number_field :total_visits, placeholder: "Посещений за абонемент", class: "input-panel" %>
      </div>
    </div>
    <%= form.submit class: "btn icon-confirm" %>
  </div>
  <% if record.errors.any? %>
    <div id="error_explanation" class="message">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>
      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>