<%= form_with(url: [@current_company, @record], model: @record, local: true) do |form| %>
  <div class="title-panel">
  	<div class="btns-card">
  	  <a href="<%=root_path%>" title="Закрыть" class="btn-card icon-closed-card"></a>
  	  <a href="<%=root_path%>" title="На главную" class="btn-card icon-home"></a>
        <div class="btn-card top-scroll"></div>
        <div class="btn-card btn-show-list">
          <div class="panel-show">
            <%= link_to 'Вернуться к карте', company_record_path(params[:company_id], @record) %>
            <%= link_to 'Перейти к списку', company_records_path %>
          </div>
        </div>
  	</div>
      <div class="title-card">Редактирование записи</div>
  </div>

  <div class="conten-card">
    <div class="information-section">
      <div class="block-information">
        <%= form.text_field :name, placeholder: "Название*", class: "input-panel" %>
      </div>
      <div class="block-information">
        <h3>Настройка записи</h3>
        <label>Лимит в записи</label>
        <%= form.number_field :total_clients, placeholder: "Лимит в записи", class: "input-panel" %>
        <label>Дата завершения*</label>
        <%= form.date_field :finished_at, placeholder: "Дата завершения*", class: "input-panel"%>
        <!--<input type="text" class="input-panel" placeholder="Период обучения* (указать в месяцах)" />-->
      </div>
      <div class="block-information">
        <h3>Настройка абонементов</h3>
        <%= form.number_field :total_visits, placeholder: "Посещений за абонемент", class: "input-panel" %>
      </div>
    </div>
    <%= form.submit class: "btn icon-confirm" %>
  </div>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>