<%= form_with(url: [@current_company, @record], model: @record, local: true) do |form| %>
  <div class="title-panel">
    <div class="btns-card" style="position: absolute;">
      <%= link_to company_record_path(@current_company, @record), class: "btn-card", style: "float: left;" do %>
        <ion-icon name="arrow-back"></ion-icon>
      <% end %>
      <div class="btn-card top-scroll"></div>
    </div>
    <div class="title-card">Редактирование записи</div>
  </div>

  <div class="conten-card">
    <div class="information-section">
      <div class="block-information">
        <div class="finput">
          <%= form.label t('.name'), class: 'finput-label' %>
          <%= form.text_field :name, class: "finput-input", required: 'required' %>
        </div>
      </div>
      <div class="block-information">
        <h3>Настройка записи</h3>
        <div class="finput">
          <%= form.label t('.total_clients'), class: 'finput-label' %>
          <%= form.number_field :total_clients, class: "finput-input" %>
        </div>
        <div class="finput">
          <%= form.label t('.finished_at'), class: "finput-label" %>
          <%= form.date_field :finished_at, class: "finput-input" %>
        </div>
      </div>
      <div class="block-information">
        <h3>Настройка абонементов</h3>
        <div class="finput">
          <%= form.label t('.total_visits'), class: 'finput-label' %>
          <%= form.number_field :total_visits, class: "finput-input" %>
        </div>
        <dfn data-info="Создает абонементы автоматически. ⚫ по завершению: создает абонемент после того, как у клиента закончится абонемент. ⚫ по календарю: создает абонемент с первого числа до конца месяца">
          <div class="finput focus">
            <%= form.label 'Продажа абонемента*', class: 'finput-label' %>
            <%= form.select :subscription_sale, options_for(Record.subscription_sales, 'subscription_sale'), {selected: @record.subscription_sale}, {class: "finput-input"} %>
          </div>
        </dfn>
      </div>
    </div>
    <%= form.submit class: "btn icon-confirm" %>
  </div>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>