<div id="notice"><%= notice %></div>
<div class="btns-card">
  <a href="/" title="Закрыть" class="btn-card icon-closed-card"></a>
  <a href="/" title="На главную" class="btn-card icon-home"></a>
  <div href="/" title="Сортировка списка" class="btn-card icon-sorting"></div>
</div>

<div class="panel-sorting">
  Сортировка списка
</div>

<input class="card-search" type="text" placeholder="Поиск...">


<div class="conten-card tabs">
  <div class="menu-with-options">
    <% if @no_completed_records.any? then %>
      <div class="option">Текущие <%= @no_completed_records.size %></div>
    <% end %>
    <% if @completed_records.any? then %>
      <div class="option">Завершенные <%= @completed_records.size %></div>
    <% end %>
  </div>
  <a class="btn icon-plus btn-list" href="<%=new_company_record_path %>"></a>
  <div class="cont-category-book">
    <% if @no_completed_records.any? then %>
      <div class="tab-category information-section">
        <%= render @no_completed_records %>
      </div>
    <% end %>
    <% if @completed_records.any? then %>
      <div class="tab-category information-section">
        <%= render @completed_records %>
      </div>
    <% end %>
  </div>
</div>