<div class="title-panel">
  <div class="btns-card">
    <a href="<%=root_path%>" title="Закрыть" class="btn-card icon-closed-card"></a>
    <a href="<%=root_path%>" title="На главную" class="btn-card icon-home"></a>
    
    <div class="btn-card top-scroll"></div>

    <div class="btn-card btn-show-list">
      <div class="panel-show">
        <%= link_to 'Вернуться к списку', company_records_path %>
        <%= link_to 'Редактировать', edit_company_record_path(params[:company_id], @record) %>
        <div>Продать всем абонементы</div>
<!--         <div>Автопродление всем</div>
        <div>Динамические цены</div> -->
      </div>
    </div>
 
  </div>
  <%if @record.finished_at < Date.today %>
    <div title="<%= t('.desc_completed_ecords') %>" class="completed-records"> <%= t('.completed_ecords') %></div>
  <%end%>
  <div class="title-card"><%= @record.name %></div>
  <div class="role-card"><%= t('.record_type.' + @record.record_type)%></div>
</div>

<div class="conten-card tabs">
  <div class="cont-category-book">
    <div class="tab-category information-section">

      <div class="block-information parent-compact block-visit">
        <h3><div class="icon-time"></div>Время посещения <span>4</span></h3>
          <div class="btn-compact click-compact"><div></div></div>

        <div class="container-information">
            <div class="item-element compact">
              <div class="left-side-elem">
                  <div>Сегодня</div>
                  <div class="panel-show">
                      <div>Открыть карту</div>
                      <div>Отменить</div>
                  </div>
              </div>
              <div class="rigth-side-elem">в 12:00 до 15:00</div>
            </div>
            <div class="item-element compact">
              <div class="left-side-elem">
                  <div>Завтра</div>
                  <div class="panel-show">
                      <div>Открыть карту</div>
                      <div>Отменить</div>
                  </div>
              </div>
              <div class="rigth-side-elem">в 12:00 до 15:00</div>
            </div>
            <div class="item-element compact">
              <div class="left-side-elem">
                  <div>Послезавтра</div>
                  <div class="panel-show">
                      <div>Открыть карту</div>
                      <div>Отменить</div>
                  </div>
              </div>
              <div class="rigth-side-elem">в 12:00 до 15:00</div>
            </div>
            <div class="item-element compact">
              <div class="left-side-elem">
                  <div>21 августа 2018</div>
                  <div class="panel-show">
                      <div>Открыть карту</div>
                      <div>Отменить</div>
                  </div>
              </div>
              <div class="rigth-side-elem">в 12:00 до 15:00</div>
            </div>
        </div>
        <div class="add-discount">+ Добавить</div>
      </div>

      <div class="block-information">
        <h3><div class="icon-user"></div>Записанные <span><%= @records_clients.size %><% if @record.total_clients %><%= ' из ' %><% end %><%= @record.total_clients  %></span></h3>
        <div class="btn-compact click-compact"><div></div></div>

        <div class="container-information compact">
          <% @records_clients.each do |rc| %>
            <div class="item-element">
              <div class="left-side-elem">
                  <%=image_tag s3_image(rc.client.avatar), class: "avatar-list" %>
                  <div><%="#{rc.client.last_name} #{rc.client.first_name}"%></div>
                  <div class="panel-show">
                      <%= link_to 'Открыть карту', [rc.client.company, rc.client]%>
                      <div>Продать абонемент</div>
<!--                  <div>Автопродление</div>
                      <div>Динамическая цена</div> -->
                      <%=link_to 'Отписать', records_client_path(rc, deactivate_instead_of_destroying: 1), method: :delete%>
                  </div>
              </div>
              <div class="rigth-side-elem">
                <select id="" name="">
                  <option value="36">Записан</option>
                  <option value="36">Не записан</option>
                  <option value="38">Посетил</option>
                  <option value="38">Не посетил</option>
                  <option value="38">Не посетит</option>
                  <option value="38">Отмена</option>
                </select>
              </div>
              <div>
                
              </div>
            </div>
          <%end%>
        </div>
        <div class="add-discount add-services">+ Записать</div>
        <%= form_with url: records_clients_path, model: @record_client, class: 'panel-attachment panel-add-services' do |f|%>
          <%=f.hidden_field :record_id, value: @record_client.record_id%>
          <div class="finput">
            <label class="finput-label">Клиенты</label>
            <%= f.select(:client_id, @clients.map {|c| [client_title_in_select(c), c.id]}, {}, {class: 'finput-input'}) %>
          </div>
          <div class="btns-confirm">
            <%= f.button '', class: 'btn icon-confirm' %>
            <input class="btn btn-no" type="button">
          </div>
        <%end%>

        <!-- ab -->
        <form class="panel-attachment panel-add-services compact" style="display: grid;">
          <div class="finput focus">
            <label class="finput-label">Дата начала абонемента*</label>
            <input class="finput-input" type="date">
          </div>
          <div class="btns-confirm">
            <button name="button" type="submit" class="btn icon-confirm"></button>
            <input class="btn btn-no" type="button">
          </div>
        </form>
      </div>



<!--         <div id="" class="panel-attachment panel-add-services">
          <div class="finput">
            <label class="finput-label">Услуга</label>
            <select class="finput-input" id="attachedService" v-model="attachedServiceId" @change="updateFromSelectedText">
              <%=options_for_select(@services.map{|s| [s.name, s.id]})%>
            </select>
          </div>
          <div class="btns-confirm">
            <input class="btn icon-confirm" type="button" @click="attachService">
            <input class="btn btn-no" type="button">
          </div>
        </div> -->


      <div id="records_services_part" data-record-id="<%=@record.id%>" class="block-information">
        <h3><div class="icon-list"></div>Оказываемые услуги <span>{{recordsServices.length}}</span></h3>
        <div class="btn-compact click-compact"><div></div></div>
        
        <div class="container-information compact">
          <div v-for="(recordService, index) in recordsServices" class="item-element">
            <div class="left-side-elem">
                <div>{{recordService.service.name}}</div>
                <div class="panel-show">
                  <a :href="`/companies/<%=params[:company_id]%>/services/${recordService.service_id}`">Открыть карточку</a>
                  <div @click="editingRS = {...recordsServices[index]}">Редактировать пункт</div>
                  <div @click="deleteRecordService(index)" class="remove_this_item">Удалить пункт</div>
                </div>
            </div>
            <div class="rigth-side-elem">{{recordService.money_for_abon}} ₽ ({{recordService.money_for_visit}} ₽)</div>
          </div>
        </div>

        <div class="add-discount add-services">+ Добавить</div>
        <input type="hidden" id="authenticity_token" value="<%=form_authenticity_token%>">

        <div id="" class="panel-attachment panel-add-services">
          <div class="finput">
            <label class="finput-label">Услуга</label>
            <select class="finput-input" id="attachedService" v-model="attachedServiceId" @change="updateFromSelectedText">
              <%=options_for_select(@services.map{|s| [s.name, s.id]})%>
            </select>
          </div>
          <div class="finput">
            <label class="finput-label">Цена за абонемент</label>
            <input class="finput-input" type="number" v-model="moneyForAbon" min="0">
          </div>
          <div class="finput">
            <label class="finput-label">Цена за посещение</label>
            <input class="finput-input" type="number" v-model="moneyForVisit" min="0">
          </div>
          <div class="btns-confirm">
            <input class="btn icon-confirm" type="button" @click="attachService">
            <input class="btn btn-no" type="button">
          </div>
        </div>

        <div v-if="editingRS" class="panel-attachment">
          <input class="input-attachment" type="number" placeholder="Цена за абонемент" v-model="editingRS.money_for_abon" min="0">
          <input class="input-attachment" type="number" placeholder="Цена за посещение" v-model="editingRS.money_for_visit" min="0">
          <div class="btns-confirm">
            <input class="btn icon-confirm" type="button" @click="editRS">
            <input class="btn btn-no" type="button" @click="cancelEditing">
          </div>
        </div>
        <div>
          <%#console%>
        </div>

      </div>

      <script>
        var authToken = document.getElementById("authenticity_token").value
        var itemInformations = document.getElementById("records_services_part")
        var recordId = itemInformations.dataset.recordId
        var vm = new Vue({
          el: '#records_services_part',
          data: {
            recordsServices: [],
            moneyForAbon: null,
            moneyForVisit: null,
            attachedServiceId: null,
            editingRS: null,
          },
          methods: {
            deleteRecordService(index) {
              let rs = this.recordsServices[index]
              $.ajax('/records_services',{
                method: 'DELETE',
                data: {
                  authenticity_token: authToken,
                  record_service: {
                    record_id: rs.record_id,
                    service_id: rs.service_id
                  }
                },
                success: e => this.recordsServices.splice(index, 1),
                error: e => console.warn('error', e)
              })
            },
            editRS() {
              $.ajax('/records_services', {
                method: 'PATCH',
                data: {
                  authenticity_token: authToken,
                  record_service: { ...this.editingRS }
                },
                success: e => {
                  this.editingRS = null
                  let {record_id, service_id} = e
                  let index = this.recordsServices
                    .findIndex(rs => rs.record_id == e.record_id && rs.service_id == e.service_id)
                  this.recordsServices[index] = {...this.recordsServices[index], ...e}
                },
                error: e => console.warn('error', e)
              })
              // this.editingRS = null
            },
            cancelEditing() {
              this.editingRS = null
            },
            attachService() {
              let {moneyForAbon, moneyForVisit, attachedServiceId, serviceName} = this
              $.ajax('/records_services', {
                method: 'POST',
                data: {
                  authenticity_token: authToken,
                  record_service: {
                    record_id: recordId,
                    service_id: attachedServiceId,
                    money_for_abon: moneyForAbon,
                    money_for_visit: moneyForVisit,
                  }
                },
                error: e => console.warn('error', e)
              }).done(newRecordService => {
                newRecordService.service = {id: attachedServiceId, name: serviceName}
                this.recordsServices.push(newRecordService)
              })
            },
            updateFromSelectedText(e) {
              let {options} = e.target
              this.serviceName = options[options.selectedIndex].text
            }
          },
          created() {
            $.get('/records_services.json?record_id='+recordId,
                  result => this.recordsServices = result)
          }
        })
      </script>

      <div class="block-information">
        <h3><div class="icon-employees"></div>Ответственные <span>2</span></h3>
          <div class="btn-compact click-compact"><div></div></div>

        <div class="container-information compact">
          <div class="item-element">
            <div class="left-side-elem">
                <img src="/resources/no-image-available.png">
                <div>Агаева Патимат</div>
                <div class="panel-show">
                    <div>Открыть карту</div>
                    <div>Заморозить выплаты</div>
                    <div>Редактировать пункт</div>
                    <div>Удалить пункт</div>
                </div>
            </div>
            <div class="rigth-side-elem">4 500 ₽ (35%)</div>
          </div>
          <div class="item-element">
            <div class="left-side-elem">
                <img src="/resources/no-image-available.png">
                <div>Улубекова Зубруд</div>
                <div class="panel-show">
                    <div>Открыть карту</div>
                    <div>Заморозить выплаты</div>
                    <div>Редактировать пункт</div>
                    <div>Удалить пункт</div>
                </div>
            </div>
            <div class="rigth-side-elem">5 000 ₽ (фикси.)</div>
          </div>
        </div>
        <div class="add-discount">+ Добавить</div>
      </div>

      <div class="block-information">
        <h3><div class="icon-time"></div>График посещений <span>2</span></h3>
          <div class="btn-compact click-compact"><div></div></div>

        <div class="container-information compact">
          <div class="item-element">
            <div class="left-side-elem">
                <div>В понедельник</div>
                <div class="panel-show">
                    <div>Удалить пункт</div>
                </div>
            </div>
            <div class="rigth-side-elem">с 12:00 по 15:00</div>
          </div>
          <div class="item-element">
            <div class="left-side-elem">
                <div>Во вторник</div>
                <div class="panel-show">
                    <div>Удалить пункт</div>
                </div>
            </div>
            <div class="rigth-side-elem">с 12:00 по 15:00</div>
          </div>
        </div>
        <div class="add-discount">+ Добавить</div>
      </div>

      <div class="block-information parent-compact">
        <h3>Настройки записи</h3>
        <div class="btn-compact click-compact"><div></div></div>
        <div class="container-information compact">
          <div class="item-information"><span class="title-input">Тип записи</span><span class="text-input"><%= t('record_type.' + @record.record_type)%></span></div>
          <div class="item-information"><span class="title-input"><%= t('.record_type') %></span><span class="text-input"><%= t('record_type.' + @record.visit_type)%></span></div>
          <div class="item-information"><span class="title-input">Лимит в записи</span><span class="text-input"><%= @record.total_clients %></span></div>
          <div class="item-information"><span class="title-input">Дата начала</span><span class="text-input"><%= @record.created_at.strftime("%d %b, %Y") %></span></div>
          <div class="item-information"><span class="title-input">Дата завершения</span><span class="text-input"><%= @record.finished_at.strftime("%d %b, %Y") %></span></div>
          <div class="item-information"><span class="title-input">Филиал</span><span class="text-input"><%= @record.affiliate.name%></span></div>
        </div>
      </div>

      <div class="block-information parent-compact">
        <h3>Настройки абонементов</h3>
        <div class="btn-compact click-compact"><div></div></div>

        <div class="container-information compact">
          <div class="item-information"><span class="title-input">Период абонемента</span><span class="text-input"><%= @record.abon_period %> дней</span></div>
          <div class="item-information"><span class="title-input">Посещений за абонемент</span><span class="text-input"><%= @record.total_visits %></span></div>
          <div class="item-information"><span class="title-input">Авто абонементы</span><span class="text-input">нет</span></div>
          <div class="item-information"><span class="title-input">Формирование цены</span><span class="text-input">за абонемент</span></div>
        </div>
      </div>
    </div>
  </div>
</div>