<p id="notice"><%= notice %></p>

<h1>Affiliates</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Company ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @affiliates.each do |affiliate| %>
      <tr>
        <td><%= affiliate.id %></td>
        <td><%= affiliate.name %></td>
        <td><%= affiliate.company_id %></td>
        <td><%= link_to 'Show', affiliate %></td>
        <td><%= link_to 'Edit', edit_affiliate_path(affiliate) %></td>
        <td><%= link_to 'Destroy', affiliate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Affiliate', new_affiliate_path %>
