<p id="notice"><%= notice %></p>

Name <%=@affiliate.name%><br>
Address <%=@affiliate.address%><br>
Phone number <%=@affiliate.phone_number || '[not given]'%><br>
Email <%=@affiliate.email || '[not given]'%><br>

<%= link_to 'Edit', edit_affiliate_path(@affiliate) %> |
<%= link_to 'Back', affiliates_path %>

