<!DOCTYPE html>
<html class="cool-scrollbar">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Draft</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%if Rails.env.production?%>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <%else # development | test %>
      <%=javascript_include_tag 'vue'%>
    <%end%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" charset="utf-8">
      Vue.config.productionTip = Vue.config.devtools = false;
      const Routes = {
          getAllClients:    companyId => `/companies/${companyId}/clients.json`,
          getAllServices:   (companyId) => `/companies/${companyId}/services.json`,
          addNewClient:     companyId => `/companies/${companyId}/clients.json`,
          addNewService:    companyId => `/companies/${companyId}/services.json`,
          removeClient:     (companyId, clientId) => `/companies/${companyId}/clients/${clientId}.json`,
          removeService:    (companyId, serviceId) => `/companies/${companyId}/services/${serviceId}.json`,
          signIn:           () => '/auth/sign_in?return_url=' + encodeURIComponent(location.href),
          clientInfoWindow: () => '/windows/client-info',
          serviceInfoWindow:() => '/windows/service-info',
          addClientWindow:  () => '/windows/add-client',
          addServiceWindow: () => '/windows/add-service',
      };
      const AUTHENTICITY_TOKEN = document.querySelector('meta[name=csrf-token]').content
    </script>
  </head>

  <body data-params="<%=params.to_json%>" class="home">
    <input type="hidden" id="authenticity_token" value="<%=form_authenticity_token%>">

    <%= render 'layouts/data' %>

    <header>
      <div class="panel-logo">

        <a class="logo" href="/clients">
          <img src="/images/lflflf.png">
        </a>

        <div class="info-logo">
          <a href="/clients" class="biz-logo" style="<%= !(signed_in? and Client.exists? id: current_user.people_id) ? 'font-size: 29px;' : '' %>">Draft</a>
          <% if signed_in? and Client.exists? id: current_user.people_id %>
            <div class="company-logo btn-show-list">
              <div class="name-company" style="float: left;"><%= @current_company.name %></div>
              <%= render 'layouts/list_works_user' %>
            </div>
          <% end %>
        </div>
      </div>

      <%= render 'layouts/panel_user' %>
    </header>

    <%= render 'layouts/panels_add' %>
    <%= render 'layouts/menu' %>

    <content>
      <%= yield %>
    </content>
    
    <div class="back-background"></div>
    
    <script src="https://unpkg.com/ionicons@4.2.4/dist/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    
    <script type="text/javascript">
      var vmNotifications = new Vue({
        el: '#notifications',
        data: {
          notifications: []
        }
      });
    </script>
  </body>
</html>