<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <title>TBIS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%if Rails.env.production?%>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <%else # development | test %>
      <script src="/resources/vue.js"></script>
    <%end%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" charset="utf-8">
Vue.config.productionTip = Vue.config.devtools = false;
const Routes = {
    getAllClients:    companyId => `/companies/${companyId}/clients.json`,
    getAllServices:   (companyId) => `/companies/${companyId}/services.json`,
    addNewClient:     companyId => `/companies/${companyId}/clients.json`,
    addNewService:    companyId => `/companies/${companyId}/services.json`,
    removeClient:     (companyId, clientId) => `/companies/${companyId}/clients/${clientId}.json`,
    removeService:    (companyId, serviceId) => `/companies/${companyId}/services/${serviceId}.json`,
    signIn:           () => '/auth/sign_in?return_url=' + encodeURIComponent(location.href),
    clientInfoWindow: () => '/windows/client-info',
    serviceInfoWindow:() => '/windows/service-info',
    addClientWindow:  () => '/windows/add-client',
    addServiceWindow: () => '/windows/add-service',
};
const AUTHENTICITY_TOKEN = document.querySelector('meta[name=csrf-token]').content
    </script>
  </head>

  <body data-params="<%=params.to_json%>">
    <!-- Temporary div -->
    <div style="position: fixed; right: 50px;">
      <div style="background-color: darkgrey">
        <p><%=flash[:notice]%></p>
        <p><%=flash[:alert]%></p>
      </div>
      <%= link_to 'Main', root_path%>
      <%= link_to 'Companies', companies_path%>
      <%if signed_in?%>
        <%= link_to 'Settings', edit_user_registration_path %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete%>
        <h3>Hi <%="#{current_user.first_name} #{current_user.last_name}"%></h3>
      <%else%>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <%= link_to 'Sign In', new_user_session_path %>
      <%end%>
    </div>

    <%=render 'shared/authorization_fields'%>

    <%=render 'shared/left_side'%>
    <div class="content">
      <%=yield%>

      <div class="minimized-tabs">
        <div class="item-minimized-tabs">
          <img src="/resources/no-image-available.png" class="icon-item-minimized-tabs" />
          <div class="name-item-minimized-tabs">Магомедов Магомед</div>
        </div>
        <div class="item-minimized-tabs">
          <img src="/resources/no-image-available.png" class="icon-item-minimized-tabs" />
          <div class="name-item-minimized-tabs">Иван Иванов</div>
        </div>
      </div>
    </div>
  </body>
</html>
