<!DOCTYPE html>
<html class="cool-scrollbar">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dreambox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%if Rails.env.production?%>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <%else # development | test %>
      <%=javascript_include_tag 'vue'%>
    <%end%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" charset="utf-8">
Vue.config.productionTip = Vue.config.devtools = false;
const Routes = {
    getAllClients:    companyId => `/companies/${companyId}/clients.json`,
    getAllServices:   (companyId) => `/companies/${companyId}/services.json`,
    addNewClient:     companyId => `/companies/${companyId}/clients.json`,
    addNewService:    companyId => `/companies/${companyId}/services.json`,
    removeClient:     (companyId, clientId) => `/companies/${companyId}/clients/${clientId}.json`,
    removeService:    (companyId, serviceId) => `/companies/${companyId}/services/${serviceId}.json`,
    signIn:           () => '/auth/sign_in?return_url=' + encodeURIComponent(location.href),
    clientInfoWindow: () => '/windows/client-info',
    serviceInfoWindow:() => '/windows/service-info',
    addClientWindow:  () => '/windows/add-client',
    addServiceWindow: () => '/windows/add-service',
};
const AUTHENTICITY_TOKEN = document.querySelector('meta[name=csrf-token]').content
    </script>
  </head>

  <body data-params="<%=params.to_json%>" class="home">

    <header>
      <div class="panel-logo">
        <a class="logo" href="/">
          <img src="/images/lflflf.png">
        </a>
        <div class="info-logo">
          <div class="biz-logo">БИЗНЕС</div>
          <% if signed_in? and Client.exists? id: current_user.people_id %>
            <div class="company-logo btn-show-list">
              <div class="name-company" style="float: left;"><%= @current_company.name %></div>

              <div class="panel-show" style="width: 260px;">
                <div style="background-color: #e6eaed; cursor: default;">
                    <div style="float: left;">
                      <div style="font-size: 15px; font-weight: 600;"><%= Company.find(@current_people.company_id).name %></div>
                      <div class="img-input" style="width: 100%; font-size: 13px;">
                        <%= image_tag s3_image(@current_people.avatar), style: 'width: 10px; height: 10px; margin: 0 5px;' %>
                        <%= @current_people.last_name %> <%= @current_people.first_name %>
                      </div>
                      <div style="font-size: 12px; color: darkgrey; margin-top: 5px;">
                        <% work_director = Work.where people_id: @current_people.id, position_work: 'director' %>
                        <% work_administrator = Work.where people_id: @current_people.id, position_work: 'administrator' %>
                        <%if work_director.present?%>
                          - Директор
                        <%end %>                    
                        <%if work_administrator.present? %>
                          - Администратор
                        <%end %>
                        <%if (@current_people.role.to_i & Client::Role::CLIENT) > 0 %>
                          - Клиент
                        <%end %>
                      </div>
                    </div>
                  </div>
                <% @people_user = Client.where(user_id: current_user.id).where.not(id: @current_people.id) %>
                <% @people_user.each do |p| %>
                  <% work_director = Work.where people_id: p.id, position_work: 'director' %>
                  <% work_administrator = Work.where people_id: p.id, position_work: 'administrator' %>
                  <%= link_to role_person_path(p.id), method: :post do %>
                    <div style="float: left;">
                      <div style="font-size: 15px; font-weight: 600;"><%= Company.find(p.company_id).name %></div>
                      <div class="img-input" style="width: 100%; font-size: 13px;">
                        <%= image_tag s3_image(p.avatar), style: 'width: 10px; height: 10px; margin: 0 5px;' %>
                        <%= p.last_name %> <%= p.first_name %>
                      </div>
                      <div style="font-size: 12px; color: darkgrey; margin-top: 5px;">
                        <%if work_director.present?%>
                          - Директор
                        <%end %>                    
                        <%if work_administrator.present? %>
                          - Администратор
                        <%end %>
                        <%if (p.role.to_i & Client::Role::CLIENT) > 0 %>
                          - Клиент
                        <%end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <%= link_to '+Добавить новою компанию', new_company_path, class: "add-discount" %>
              </div>
            </div>
          <% end %>
        </div>

      </div>

      <%if signed_in? %>
        <%=link_to persons_profile_path, class: "panel-account" do %>
          <div class="account-name">
            <%= current_user.first_name %> <%= current_user.last_name %>
          </div>
          <%= image_tag s3_image(current_user.avatar), class: 'account-avatar' %>
        <%end%>
      <%end%>

    </header>

    <nav class="menu">
      <div class="item-menu icon-menu"></div>
      <a href="#" class="item-menu icon-client"></a>
      <a href="#" class="item-menu icon-company"></a>
      <a href="#" class="item-menu icon-finance"></a>
    </nav>
    
    <content id="app">
        
      <div class="panel-list">
        <div class="search">
          <img src="/images/search.png" class="search-icon">
          <input v-on:input="sendQuery('search', $event.target.value)" name="search" class="search-field" type="text" :placeholder="titleInput" value="<%= params[:search] %>" id="search" autocomplete="off" />
          <div class="search-info">
            <div class="item-search"></div>
          </div>
        </div>

        <div v-if="loadComplete == false" class="loading"><img src="images/loading.gif" /></div>
        <div v-if="loadComplete == true" class="container-list cool-scrollbar">
          <ul v-if="searchClients.length > 0" class="list">
            <li v-for="client in searchClients" class="item-list">
              <img class="avatar-listt" src="/resources/no-image-available.png">
              <div class="left-content">
                <div class="name-content">{{ client.last_name }} {{ client.first_name }} {{ client.patronymic }}</div>
                <span class="desc-content">- UCMAS</span>
              </div>
              <div class="right-content">
                <span class="debt">0.0 ₽</span>
              </div>
            </li>
          </ul>
          <div v-if="searchClients.length <= 0" class="loading">
            <div>
              <img src="images/crying.png" style="width: 40px; margin: auto; margin-bottom: 10px;" />
              <div>Ничего не найдено</div>
            </div>
          </div>
        </div>
      </div>

      <div class="panels-content">
        <div class="panel-content">
          <div @click="sendQuery('clients', 'current')" class="indecator">
            <div>32</div>
            <span>Текущие клиенты</span>
          </div>
          <div @click="sendQuery('clients', 'debtors')" class="indecator">
            <div>14</div>
            <span>Должники</span>
          </div>
          <div @click="sendQuery('clients', 'total')" class="indecator">
            <div>255</div>
            <span>Все клиенты</span>
          </div>

          <div class="panel-footer">
            <div>
              <div>{{ searchClients.length }}</div>
              <div>кол-во в списке</div>
            </div>
            <div>
              <div>10000</div>
              <div>долг</div>
            </div>
          </div>
        </div>
        <% if params[:record].present? %>
          <div class="panel-content">
            Группа
          </div>
        <% end %>
      </div>

    </content>
    

    <%yield%>
    
  
    <div class="back-background"></div>
    <script src="https://unpkg.com/ionicons@4.2.4/dist/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <script type="text/javascript">

      // clients= total | current | debtors  если значения нет, то по умолчанию current
      // if total elsif debtors else (current)

      var valueInput = document.getElementById("search").value
      var lastId = null;

      new Vue ({
        el: '#app',
        data: {
          titleInput: "Поиск клиентов", // будет подставляться название группы
          searchClients: [],
          loadComplete: false
        },
        methods: {
          sendQuery(type, value) {
            url = window.location.href;
            newUrl = updateURLParameter(url, type, value);
            this.clientsQuery(newUrl);
          },
          clientsQuery(url) {

            urlHash = new URL(url);
            clientQuery = urlHash.searchParams.get("search");
            typeOfClients = urlHash.searchParams.get("clients");

            arrayClientQuery = validSpaces(clientQuery).split(' ');

            clearTimeout(lastId)
            this.loadComplete = false;


            lastId = setTimeout(() => {
              $.get(
                '/clients.json', 
                {
                  typeOfClients: typeOfClients,
                  lastNameClients: arrayClientQuery[0],
                  firstNameClients: arrayClientQuery[1],
                  patronymicClients: arrayClientQuery[2]
                // ,
                // record: 29
                },
                searchClients => this.searchClients = searchClients
              );

              this.loadComplete = true;
              history.pushState('', clientQuery, url);

            }, 600);

          },
          getQuery() {

          }
        },
        created() {
          this.sendQuery('search', valueInput);
        }
      });
    </script>
  </body>
</html>
