<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TBIS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%if Rails.env.production?%>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <%else # development | test %>
      <%=javascript_include_tag 'vue'%>
    <%end%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" charset="utf-8">
Vue.config.productionTip = Vue.config.devtools = false;
const Routes = {
    getAllClients:    companyId => `/companies/${companyId}/clients.json`,
    getAllServices:   (companyId) => `/companies/${companyId}/services.json`,
    addNewClient:     companyId => `/companies/${companyId}/clients.json`,
    addNewService:    companyId => `/companies/${companyId}/services.json`,
    removeClient:     (companyId, clientId) => `/companies/${companyId}/clients/${clientId}.json`,
    removeService:    (companyId, serviceId) => `/companies/${companyId}/services/${serviceId}.json`,
    signIn:           () => '/auth/sign_in?return_url=' + encodeURIComponent(location.href),
    clientInfoWindow: () => '/windows/client-info',
    serviceInfoWindow:() => '/windows/service-info',
    addClientWindow:  () => '/windows/add-client',
    addServiceWindow: () => '/windows/add-service',
};
const AUTHENTICITY_TOKEN = document.querySelector('meta[name=csrf-token]').content
    </script>
  </head>

  <body data-params="<%=params.to_json%>">
    <!-- Temporary div -->
    <div style="position: fixed; right: 50px; z-index: 99999;">
      <div style="background-color: darkgrey">
        <p><%=flash[:notice]%></p>
        <p><%=flash[:alert]%></p>
      </div>
      <%= link_to 'Main', root_path%>
      <%= link_to 'Companies', companies_path%>
      <%if signed_in?%>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete%>
      <%else%>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <%= link_to 'Sign In', new_user_session_path %>
      <%end%>
    </div>

    <%=render 'shared/authorization_fields'%>


    <!-- 
    <div class="test">
      <div class="open-objects">
      <div style="display: flex;">
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
      </div>
      </div>
    </div>
 -->
    <!-- <div class="content"> -->
      <div class="card">
        <%=yield%>
      </div>
    <!-- </div> -->
    
    <div class="footer">
      <div class="other-sections">
        <div>О сервисе</div>
        <div>Поддержка</div>
        <div>Блог</div>
        <div>Новые функции</div>
        <div>Исправить или добавить функции</div>
        <div>Оставить отзыв</div>
      </div>
      
      <div class="copyright">© 2016 - 2018 Dreambox</div>
    </div>
    
    <div class="back-background"></div>
  </body>
</html>
