<!DOCTYPE html>
<html class="cool-scrollbar">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TBIS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%if Rails.env.production?%>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <%else # development | test %>
      <%=javascript_include_tag 'vue'%>
    <%end%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" charset="utf-8">
Vue.config.productionTip = Vue.config.devtools = false;
const Routes = {
    getAllClients:    companyId => `/companies/${companyId}/clients.json`,
    getAllServices:   (companyId) => `/companies/${companyId}/services.json`,
    addNewClient:     companyId => `/companies/${companyId}/clients.json`,
    addNewService:    companyId => `/companies/${companyId}/services.json`,
    removeClient:     (companyId, clientId) => `/companies/${companyId}/clients/${clientId}.json`,
    removeService:    (companyId, serviceId) => `/companies/${companyId}/services/${serviceId}.json`,
    signIn:           () => '/auth/sign_in?return_url=' + encodeURIComponent(location.href),
    clientInfoWindow: () => '/windows/client-info',
    serviceInfoWindow:() => '/windows/service-info',
    addClientWindow:  () => '/windows/add-client',
    addServiceWindow: () => '/windows/add-service',
};
const AUTHENTICITY_TOKEN = document.querySelector('meta[name=csrf-token]').content
    </script>
    <script src="https://cdn.rawgit.com/kofon95/smartuploader/608b195f/jquery.smartuploader.min.js"></script>
  </head>

  <!-- <body data-params="<%=params.to_json%>" class="page top-panel"> -->
  <body data-params="<%=params.to_json%>" class="">
  
    <div class="active-company">
      <% if signed_in? and Client.exists? id: current_user.people_id %>
        <div class="btn-show-list">
          <div class="name-company"><%= @current_company.name %></div>

          <div class="panel-show" style="width: 260px;">
            <div style="background-color: #e6eaed;">
                <div style="float: left;">
                  <div style="font-size: 15px; font-weight: 600;"><%= Company.find(@current_people.company_id).name %></div>
                  <div class="img-input" style="width: 100%; font-size: 13px;">
                    <%= image_tag s3_image(@current_people.avatar), style: 'width: 10px; height: 10px; margin: 0 5px;' %>
                    <%= @current_people.last_name %> <%= @current_people.first_name %>
                  </div>
                  <div style="font-size: 12px; color: darkgrey; margin-top: 5px;">
                    <% work_director = Work.where people_id: @current_people.id, position_work: 'director' %>
                    <% work_administrator = Work.where people_id: @current_people.id, position_work: 'administrator' %>
                    <%if work_director.present?%>
                      - Директор
                    <%end %>                    
                    <%if work_administrator.present? %>
                      - Администратор
                    <%end %>
                    <%if (@current_people.role.to_i & Client::Role::CLIENT) > 0 %>
                      - Клиент
                    <%end %>
                  </div>
                </div>
              </div>
            <% @people_user = Client.where(user_id: current_user.id).where.not(id: @current_people.id) %>
            <% @people_user.each do |p| %>
              <% work_director = Work.where people_id: p.id, position_work: 'director' %>
              <% work_administrator = Work.where people_id: p.id, position_work: 'administrator' %>
              <%= link_to role_person_path(p.id), method: :post do %>
                <div style="float: left;">
                  <div style="font-size: 15px; font-weight: 600;"><%= Company.find(p.company_id).name %></div>
                  <div class="img-input" style="width: 100%; font-size: 13px;">
                    <%= image_tag s3_image(p.avatar), style: 'width: 10px; height: 10px; margin: 0 5px;' %>
                    <%= p.last_name %> <%= p.first_name %>
                  </div>
                  <div style="font-size: 12px; color: darkgrey; margin-top: 5px;">
                    <%if work_director.present?%>
                      - Директор
                    <%end %>                    
                    <%if work_administrator.present? %>
                      - Администратор
                    <%end %>
                    <%if (p.role.to_i & Client::Role::CLIENT) > 0 %>
                      - Клиент
                    <%end %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <%= link_to '+Добавить новою компанию', new_company_path, class: "add-discount" %>
          </div>
        </div>

        <% work_director = Work.where people_id: @current_people.id, position_work: 'director' %>
        <% work_administrator = Work.where people_id: @current_people.id, position_work: 'administrator' %>
        <% if work_director.present? %>
          <div class="days-subs">356 дн.</div>
        <% end %>


        <% if work_director.present? or work_administrator.present? %>
          <div class="btn-show-list">
            <div class="btn-add-home">+Добавить</div>
            <div class="panel-show" style="width: 240px;">
              <%= link_to new_company_record_path(@current_company.id) do %>
                <img src="/images/group.png"><span>Группу</span>
              <% end %>
              <%= link_to new_company_client_path(@current_company.id) do %>
                <img src="/images/user.png"><span>Клиента</span>
              <% end %>
              <%= link_to new_company_worker_path(@current_company.id) do %>
                <img src="/images/teacher.png"><span>Сотрудника</span>
              <% end %>
              <%= link_to new_company_affiliate_path(@current_company.id) do %>
                <img src="/images/list.png"><span>Филиал</span>
              <% end %>
              <%= link_to new_company_service_path(@current_company.id) do %>
                <img src="/images/workflow.png"><span>Услугу</span>
              <% end %>
            </div>
          </div>
        <% end %>


      <% end %>
      <%if flash[:notice].present?%>
        <div class="message">
          <%= flash[:notice].html_safe %>
          <%=flash[:alert]%>
          <%=flash[:danger]%>
        </div>
      <%end%>
    </div>

    <% render 'layouts/open_tabs' %>

    <%if signed_in? %>
      <div class="current-object mini">
        <%=link_to persons_profile_path do %>
          <%= image_tag s3_image(current_user.avatar), class: 'object-avatar' %>
        <% end %>
        <div class="object-info">
          <span class="name-people"><%="#{current_user.first_name} #{current_user.last_name}"%></span>
        </div>
      </div>
    <%end%>

    <div class="card">
      <%=yield%>
    </div>
    
    <div class="footer">
      <div class="other-sections">
        <div>О сервисе</div>
        <div>Поддержка</div>
        <div>Блог</div>
        <div>Новые функции</div>
        <div>Исправить или добавить функции</div>
        <div>Оставить отзыв</div>
        <div>Помощь по бизнесу</div>
      </div>
      <div class="copyright">© 2016 - 2018 Dreambox™ alpha</div>
    </div>
    
    <div class="back-background"></div>
  </body>
</html>
