<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'main-form' }) do |f| %>
  <%= devise_error_messages! %>

    <div class="title-panel">
      <div class="btns-card">
        <a href="<%=root_path%>" title="Закрыть" class="btn-card icon-closed-card"></a>
        <a href="<%=root_path%>" title="На главную" class="btn-card icon-home"></a>      <div class="btn-card top-scroll"></div>
        <div class="btn-card btn-show-list">
          <div class="panel-show">
            <%= link_to "Назад", :back %>
          </div>
        </div>
      </div>
      <div class="title-card">Настройка аккаунта</div>
    </div>

    <div class="conten-card">
      <div class="cont-category-book">
        <div class="tab-category information-section">
          <div class="block-information">

            <div id="drop_zone" class="add-avatar">
              <div class="icon-add-avatar">
                <input id="client_avatar" type="file" style="display: none;">
                <%=f.hidden_field :avatar, id: 'client_avatar_field', value: @user.avatar%>
              </div>
              <%= image_tag s3_image(@user.avatar), class: 'people-avatar' %>
            </div>
            
<!--             <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %> -->

            <div class="finput">
              <%= f.label 'Фамилия*', class: 'finput-label' %>
              <%= f.text_field :first_name, class: "finput-input" %>
            </div>
            <div class="finput">
              <%= f.label 'Имя*', class: 'finput-label' %>
              <%= f.text_field :last_name, class: "finput-input" %>
            </div>
            <div class="finput">
              <%= f.label 'Отчество', class: 'finput-label' %>
              <%= f.text_field :patronymic, class: "finput-input" %>
            </div>
            <div class="finput">
              <%= f.label 'Дата рождения', class: 'finput-label' %>
              <%= f.date_field :birthday, class: "finput-input" %>
            </div>
          </div>
          <div class="block-information">
            <h3>Настройка авторизации</h3>
            <div class="container-info">
              <div class="finput">
                <%= f.label 'Электронная почта', class: 'finput-label' %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "finput-input" %>
              </div>

              <div class="finput">
                <%= f.label 'Пароль', class: 'finput-label' %>
                <%= f.password_field :password, autocomplete: "off", class: "finput-input" %>
              </div>
              <div class="finput-desc">оставьте поле пустым, если вы не хотите его менять</div>
              
              <div class="finput">
                <%= f.label 'Подтверждение пароля', class: 'finput-label' %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "finput-input" %>
              </div>

              <div class="finput">
                <%= f.label 'Текущий пароль*', class: 'finput-label' %>
                <%= f.password_field :current_password, autocomplete: "off", class: "finput-input" %>
              </div>
              <div class="finput-desc">для сохранения изменений обязательно нужно указать текущий пароль</div>

            </div>
          </div>

        </div>
      </div>
      <%= f.submit class: "btn icon-confirm" %>
    </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<% end %>


<script>
  if (!FileList.prototype.slice)  // firefox
    FileList.prototype.slice = Array.prototype.slice
  var form = document.getElementById('main-form')
  var data = JSON.parse(form.dataset.formData)
  var clientAvatarField = document.getElementById('client_avatar_field')
  var clientAvatar = $("#client_avatar")
  var result = clientAvatar.withDropZone('#drop_zone', {
    url: form.dataset.url,
    autoUpload: true,
    formData: (index, blob, filename)=> {
      formData = new FormData
      for (var i in data)
          formData.set(i, data[i])
      formData.set('file', blob, filename)
      return formData
    },
    action: {
      name: "image",
      params: {
        preview: true,
      }
    },
    done(filenames) {
      var fn = filenames.map(filename => eval('`' + data.key + '`'))[0];
      clientAvatarField.value = fn
      console.log(fn)
    }
  })
  clientAvatar.on('change', () => clientAvatarField.value = '')
</script>

<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->