<div class="card">


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <div class="title-panel">
      <div class="btns-card">
        <a href="<%=root_path%>" title="Закрыть" class="btn-card icon-closed-card"></a>
        <a href="<%=root_path%>" title="На главную" class="btn-card icon-home"></a>      <div class="btn-card top-scroll"></div>
      <div class="btn-card btn-show-list"></div>
      <div class="panel-show">
        <%= link_to "Вернуться назад", :back %>
      </div>
      </div>
      <div class="title-card">Edit <%= resource_name.to_s.humanize %></div>
    </div>

    <div class="conten-card">
      <div class="cont-category-book">
        <div class="tab-category information-section">
          <div class="block-information">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Электронная почта", class: "input-panel" %>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Пароль (оставьте поле пустым, если вы не хотите его менять)", class: "input-panel" %>
<!--             <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %> -->
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Подтверждение пароляы", class: "input-panel" %>
            <%= f.password_field :current_password, autocomplete: "off", placeholder: "Текущий пароль", class: "input-panel" %>
            <%= f.text_field :first_name, placeholder: "Фамилия", class: "input-panel" %>
            <%= f.text_field :last_name, placeholder: "Имя", class: "input-panel" %>
            <%= f.text_field :patronymic, placeholder: "Отчество", class: "input-panel" %>
            <%= f.date_field :birthday, placeholder: "День рождения", class: "input-panel" %>
          </div>
        </div>
      </div>
      <%= f.submit class: "btn icon-confirm" %>
    </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>